<div class="page">

  <!-- GAUCHE : affichage du personnage survolé -->
 <div class="panel-gauche">
  <div class="perso-wrapper">
	<img class="ombre" src="other/OMBRE.png">
    <img class="perso-image" [src]="personnageActif.image" [alt]="personnageActif.nom">
	<a [routerLink]="['archive', personnageActif.id]">
    <img class="nametag-img" [src]="'nametags/NAMETAG_CHARACTER_' + personnageActif.id + '.png'" [alt]="personnageActif.nom">
	</a>
  </div>
</div>

  <!-- DROITE : grille + personnages par dessus -->
  <div class="panel-droit">
	  <div class="grille-container">
		  <img src="other/DERRIERE-LA-GRILLE.gif" class="gif-fond">
		  <div class="grille-css">
      @for (rangee of rangees; track $index) {
        <div class="rangee" [style.margin-left]="(6 - $index) * 48 + 'px'">
          @for (perso of rangee; track perso.id) {
            <div class="carte" (mouseenter)="survoler(perso)" (click)="cliquer(perso)" [class.locked]="personnageActif === perso && personnageLock">
              <img [src]="perso.image" [alt]="perso.nom">
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>

</div>